.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;
  margin: 0 auto;
}

.arrowBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.arrowBtn:disabled {
  cursor: default;  
}

.arrowBtn:active {
  transform: scale(0.96);
}

.page {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #474747;
}

.pageActive {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  border: none;
  border-radius: 2px;
  background-color: #6a0bff;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
}

.ellipsis {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #474747;
}